./*.so
build
./*.c
dysgu/*.cpp
dysgu/scikitbio/_ssw_wrapper.c
var
*.pyc
dysgu.egg-info/
dist
*.so
*.so.1
*.swp
*.5
*.o
*.pico
_build
_staticcd dy
_templates
setup-requires/*
.cache/v/cache/lastfailed
.idea
.DS_Store
dysgu/.DS_Store
docs/build/
docs/source/_templates/
dev
/dysgu/edlib/edlib.cpp
/builddir/
/build-meson/
/wd*/
