./*.so
build
./*.c
var
*.pyc
dysgu.egg-info/
old
old/*
dist
*.so
htslib/config.h.in~
*.so.1
*.swp
htslib/test
*.5
htslib/.gitignore
*.o
*.pico
libhts.a
_build
_static
_templates
setup-requires/*
.cache/v/cache/lastfailed
.idea
.DS_Store
dysgu/.DS_Store