include dysgu/tests/*
include *.rst
include *.md
include LICENSE.md
include dysgu/*
include ci/*
include scripts/*

include dysgu/htslib/*.o
include dysgu/htslib/*.c
include dysgu/htslib/*.h
include dysgu/htslib/htslib/*.h
include dysgu/htslib/cram/*.c
include dysgu/htslib/cram/*.h
graft dysgu/htslib/os
graft dysgu/htslib/m4
graft dysgu/htslib/htscodecs/htscodecs
graft dysgu/htslib/htscodecs/m4

prune dysgu/htslib/test
prune dysgu/htslib/htscodecs/test
exclude dysgu/htslib/.*
exclude dysgu/scikitbio/.*